.site-info {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color_white;
    padding: 0 3rem;
    a {
        color: $color_white;
    }
    a:hover {
        color: $color_black;
    }
}

.site-info > *:not(:last-child) {
    margin-right: auto;
}